<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="/static/favicon-128.png" itemprop="image">
    <link rel="icon" type="image/png" href="/static/favicon-32.png">
    <title>H3 editor</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<table class="addSpace"><tbody id="mainTable">
{{ tab|safe }}
</tbody></table>

<table class="addSpace"><tbody id="armyTable">
{{ army|safe }}
</tbody></table>

<table class="addSpace"><tbody id="teleportTable">
{{ teleport|safe }}
</tbody></table>

<table class="addSpace"><tbody id="possessTable">
{{ possess|safe }}
</tbody></table>


<script src="/static/main.js"></script>
</body>
</html>